.home{
    color: rgba(255, 255, 255, 0.85);
}


.grid-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding: 20px;
}

.card {
  background-color: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  display: block;
}

.info {
  padding: 12px;
  color: white;
}

.info h3 {
  margin: 0;
  font-size: 16px;
}

.info p {
  margin: 4px 0;
  font-size: 14px;
  color: #ccc;
}


button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

button.favoritado {
  color: red;
}