
<nav class="navbar navbar-expand-lg navbar-light dedo "style="background: linear-gradient(to right, #f4a742, #f2a14e); ">
  <a class="navbar-brand" href="#">CineCloud</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/home">Home</a>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="sair()">Sair</a>
      </li>
      
    </div>
  </div>
</nav>


