.form-group{
    color: white;
}
.login{
   background-color: #3A3430;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1;
    display:  grid;
    place-items: center;
}




.container{
    color: white;
    
}
