::ng-deep .mattoolbar{
    z-index: 999;
    position: fixed;
}

.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    background-color: #575e55;
    height: 20px;
    z-index: 999;
    width: 100%;
}
.footer span{
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
}


span#url{
    font-size: 12px;
}